.dashboard-links {
  background: purple;
  height: 100vh;
  color: #fff;
}
.dashboard-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.dashboard-links a button {
  font-weight: 700;
}
.bar {
  background-color: rgba(95, 3, 95, 0.911) !important;
}
.appbar_Text {
  text-align: center !important;
}

.user_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.logOut-btn {
  background-color: purple !important;
  color: #fff !important;
  font-weight: 700 !important;
  margin-bottom: 10px !important;
}
h6 {
  padding: 10px;
  padding-top: 15px;
}
