.footer {
  background-color: #383533;
  color: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.location {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(190, 134, 30);
}
